body {
  margin: 0;
  background: #19244b;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.titles {
  font-family: Verdana;
  font-size: 45px;
  margin: 40px 0px 15px 0px;
}

button {
  font-family: "Cursed Timer ULiL";
  font-size: 15px;
  margin: 5px;
  background: #19244b;
  color: #a5b8d7;
  border: 1px solid #a5b8d7;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 8px;
}

.score {
  border: solid 1px black;
  font-family: "Cursed Timer ULiL";
  background-color: black;
  color: #f94f6d;
  font-size: 100px;
  margin: 0 auto;
  padding: 6px;
  text-align: center;
  width: 160px;
}

.btns {
  margin: 20px auto;
  display: block;
}

#score-initial{
    width: auto;
    margin: 5px auto;
}